<table>
    <thead>
        <tr>
            <th>Serial Number</th>
            <th>Express Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ename of ExpressNames;">
            <td>{{ename.name}}</td>
            <td>{{ename.name}}</td>
        </tr>
    </tbody>
</table>


<!-- <div class="container">
    
    <div class="accordion container bg-active-secondary" id="FAQs">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Express Table
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#FAQs">
            <div class="accordion-body">
                <table>
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th>Express Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>720127</td>
                            <td>Badar</td>
                        </tr>
                        <tr>
                            <td>720127</td>
                            <td>Badar</td>
                        </tr>
                        <tr>
                            <td>720127</td>
                            <td>Badar</td>
                        </tr>
                        <tr>
                            <td>720127</td>
                            <td>Badar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Is Crypto-Currency Supported?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#FAQs">
            <div class="accordion-body">
              <strong>Sadly, we don't support the Crypto-Currency.</strong> We value the law above all and are working in a transparent manner. We do not deal with shady dealers offering crypto and as Crypto cannot be tracked, we avoid it as much as possible.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Will my server be Shut Down in case of Late Payment?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#FAQs">
            <div class="accordion-body">
              <strong>Not right away, but after some time, Yes.</strong> We shall email you alerts as soon as the due date is reached and shall continue to do so, for a grace period of 15 days. You shall still be able to use your server in this period. We shall also display alerts on your workspace from 3 days after due date. If dues are not cleared within the 15 days, then we shall be obliged to shut down the server in your use as listed in our <a href="#" class="text-dark">Terms & Conditions</a>.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Do I get charged in-advance for the month?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#FAQs">
            <div class="accordion-body">
              <strong>Yes, as is listed in our <a href="#" class="text-dark">Terms & Conditions</a>.</strong> We charge in advance so as to provide convenience to our users in the form of unparalleled and undisturbed experience!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Do I get any rewards for using a paid plan?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#FAQs">
            <div class="accordion-body">
              <strong>Ofcourse! We deliver free yet exclusive NFTs to our respected Clients and their Devs.</strong> We Love our Clients and Care deeply for their emotions and preferences! We use the data of our clients available to us to provide them with personalized and Custom NFTs.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Haven't Got the Answer You Were Looking For?
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#FAQs">
            <div class="accordion-body">
              <strong>Well, then go no further than this.</strong> Email us Your Query or Issue With as Many Relevant Details as Possible at "QueriesSC@example.com". We Love and Care for our Clients and shall respond within 6 hours of receiving your Mail.
            </div>
          </div>
        </div>
    </div>
</div> -->
