<div class="container">
    <table>
        <thead>
            <tr>
                <th>Serial</th>
                <th>Name</th>
                <th>Economy</th>
                <th>AC</th>
                <th>Business</th>
                <th>Berth</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
