h2{
    text-align: center;
    opacity: 0;
    animation: left-to-right 2000ms normal forwards 1 1000ms ease;
    margin: 30px auto 50px auto;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(108, 216, 108) 40%, rgb(66, 179, 245) 60%, rgba(2,0,36,1) 100%);
    background-clip: text;
    color: transparent;
}

.perspective-frame{
    opacity: 0;
    animation: left-to-right 1800ms normal forwards 1 1000ms ease;
    perspective: 500px;
    margin: 100px auto 150px auto;
}

table{
    margin: auto auto;
    transform-style: preserve-3d;
    transform: rotateY(23deg);
    box-shadow: -10px 15px 20px 5px crimson;
    transition: filter 250ms ease 50ms;
    filter: blur(10px) grayscale(100%);
}

table:hover{
    filter: blur(0) grayscale(0);
    cursor: none;
}

table, tr, th, td{
    border: 1px solid rgb(216, 12, 56);
    border-collapse: collapse;
    background-color: rgb(7, 6, 12);
}

th,td{
    padding: 10px;
    text-align: center;
    background-color: rgba(97, 7, 25, 0.596);
}

th:hover, td:hover{
    background-color: rgba(97, 7, 25, 0.896);
}

th{
    color: rgb(236, 240, 30);
}

td{
    color: rgb(108, 216, 108);
}

@keyframes left-to-right {
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}